
# BlueJ files
*.ctxt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Ignorar datos persistentes de contenedores
postgres_data/
n8n_data/

# Ignorar archivos de entorno con contraseñas reales
.env

# Ignorar logs y archivos de sistema
*.log
.DS_Store